.size-large .time_1100 { top: 400px; }
.size-large .time_1110 { top: 433.3333333333333px; }
.size-large .time_1120 { top: 466.66666666666663px; }
.size-large .time_1130 { top: 499.99999999999994px; }
.size-large .time_1140 { top: 533.3333333333333px; }
.size-large .time_1150 { top: 566.6666666666666px; }
.size-large .time_1200 { top: 600.0px; }
.size-large .time_1210 { top: 633.3333333333334px; }
.size-large .time_1220 { top: 666.6666666666667px; }
.size-large .time_1230 { top: 700.0000000000001px; }
.size-large .time_1240 { top: 733.3333333333335px; }
.size-large .time_1250 { top: 766.6666666666669px; }
.size-large .time_1300 { top: 800.0000000000002px; }
.size-large .time_1310 { top: 833.3333333333336px; }
.size-large .time_1320 { top: 866.666666666667px; }
.size-large .time_1330 { top: 900.0000000000003px; }
.size-large .time_1340 { top: 933.3333333333337px; }
.size-large .time_1350 { top: 966.6666666666671px; }
.size-large .time_1400 { top: 1000.0000000000005px; }
.size-large .time_1410 { top: 1033.3333333333337px; }
.size-large .time_1420 { top: 1066.666666666667px; }
.size-large .time_1430 { top: 1100.0000000000002px; }
.size-large .time_1440 { top: 1133.3333333333335px; }
.size-large .time_1450 { top: 1166.6666666666667px; }
.size-large .time_1500 { top: 1200.0px; }
.size-large .time_1510 { top: 1233.3333333333333px; }
.size-large .time_1520 { top: 1266.6666666666665px; }
.size-large .time_1530 { top: 1299.9999999999998px; }
.size-large .time_1540 { top: 1333.333333333333px; }
.size-large .time_1550 { top: 1366.6666666666663px; }
.size-large .time_1600 { top: 1399.9999999999995px; }
.size-large .time_1610 { top: 1433.3333333333328px; }
.size-large .time_1620 { top: 1466.666666666666px; }
.size-large .time_1630 { top: 1499.9999999999993px; }
.size-large .time_1640 { top: 1533.3333333333326px; }
.size-large .time_1650 { top: 1566.6666666666658px; }
.size-large .time_1700 { top: 1599.999999999999px; }
.size-large .time_1710 { top: 1633.3333333333323px; }
.size-large .time_1720 { top: 1666.6666666666656px; }
.size-large .time_1730 { top: 1699.9999999999989px; }
.size-large .time_1740 { top: 1733.3333333333321px; }
.size-large .time_1750 { top: 1766.6666666666654px; }
.size-large .time_1800 { top: 1799.9999999999986px; }
.size-large .time_1810 { top: 1833.333333333332px; }
.size-large .time_1820 { top: 1866.6666666666652px; }
.size-large .time_1830 { top: 1899.9999999999984px; }
.size-large .time_1840 { top: 1933.3333333333317px; }
.size-large .time_1850 { top: 1966.666666666665px; }
.size-large .time_1900 { top: 1999.9999999999982px; }
.size-large .time_1910 { top: 2033.3333333333314px; }
.size-large .time_1920 { top: 2066.6666666666647px; }
.size-large .time_1930 { top: 2099.999999999998px; }
.size-large .time_1940 { top: 2133.3333333333317px; }
.size-large .time_1950 { top: 2166.666666666665px; }
.size-large .time_2000 { top: 2199.9999999999986px; }
.size-large .time_2010 { top: 2233.333333333332px; }
.size-large .time_2020 { top: 2266.6666666666656px; }
.size-large .time_2030 { top: 2299.999999999999px; }
.size-large .time_2040 { top: 2333.3333333333326px; }
.size-large .time_2050 { top: 2366.666666666666px; }
.size-large .time_2100 { top: 2399.9999999999995px; }
.size-large .time_2110 { top: 2433.333333333333px; }
.size-large .time_2120 { top: 2466.6666666666665px; }
.size-large .time_2130 { top: 2500.0px; }
.size-large .time_2140 { top: 2533.3333333333335px; }
.size-large .time_2150 { top: 2566.666666666667px; }
.size-large .time_2200 { top: 2600.0000000000005px; }
.size-large .time_2210 { top: 2633.333333333334px; }
.size-large .time_2220 { top: 2666.6666666666674px; }
.size-large .time_2230 { top: 2700.000000000001px; }
.size-large .time_2240 { top: 2733.3333333333344px; }
.size-large .time_2250 { top: 2766.666666666668px; }
.size-large .time_2300 { top: 2800.0000000000014px; }
.size-large .time_2310 { top: 2833.333333333335px; }
.size-large .time_2320 { top: 2866.6666666666683px; }
.size-large .time_2330 { top: 2900.000000000002px; }
.size-large .time_2340 { top: 2933.3333333333353px; }
.size-large .time_2350 { top: 2966.666666666669px; }
.size-large .time_0000 { top: 3000.0000000000023px; }
.size-large .time_0010 { top: 3033.3333333333358px; }
.size-large .time_0020 { top: 3066.6666666666692px; }
.size-large .time_0030 { top: 3100.0000000000027px; }
.size-large .time_0040 { top: 3133.333333333336px; }
.size-large .time_0050 { top: 3166.6666666666697px; }
.size-large .time_0100 { top: 3200.000000000003px; }
.size-large .time_0110 { top: 3233.3333333333367px; }
.size-large .time_0120 { top: 3266.66666666667px; }
.size-large .time_0130 { top: 3300.0000000000036px; }
.size-large .time_0140 { top: 3333.333333333337px; }
.size-large .time_0150 { top: 3366.6666666666706px; }
.size-medium .time_1100 { top: 400px; }
.size-medium .time_1110 { top: 420.0px; }
.size-medium .time_1120 { top: 440.0px; }
.size-medium .time_1130 { top: 460.0px; }
.size-medium .time_1140 { top: 480.0px; }
.size-medium .time_1150 { top: 500.0px; }
.size-medium .time_1200 { top: 520.0px; }
.size-medium .time_1210 { top: 540.0px; }
.size-medium .time_1220 { top: 560.0px; }
.size-medium .time_1230 { top: 580.0px; }
.size-medium .time_1240 { top: 600.0px; }
.size-medium .time_1250 { top: 620.0px; }
.size-medium .time_1300 { top: 640.0px; }
.size-medium .time_1310 { top: 660.0px; }
.size-medium .time_1320 { top: 680.0px; }
.size-medium .time_1330 { top: 700.0px; }
.size-medium .time_1340 { top: 720.0px; }
.size-medium .time_1350 { top: 740.0px; }
.size-medium .time_1400 { top: 760.0px; }
.size-medium .time_1410 { top: 780.0px; }
.size-medium .time_1420 { top: 800.0px; }
.size-medium .time_1430 { top: 820.0px; }
.size-medium .time_1440 { top: 840.0px; }
.size-medium .time_1450 { top: 860.0px; }
.size-medium .time_1500 { top: 880.0px; }
.size-medium .time_1510 { top: 900.0px; }
.size-medium .time_1520 { top: 920.0px; }
.size-medium .time_1530 { top: 940.0px; }
.size-medium .time_1540 { top: 960.0px; }
.size-medium .time_1550 { top: 980.0px; }
.size-medium .time_1600 { top: 1000.0px; }
.size-medium .time_1610 { top: 1020.0px; }
.size-medium .time_1620 { top: 1040.0px; }
.size-medium .time_1630 { top: 1060.0px; }
.size-medium .time_1640 { top: 1080.0px; }
.size-medium .time_1650 { top: 1100.0px; }
.size-medium .time_1700 { top: 1120.0px; }
.size-medium .time_1710 { top: 1140.0px; }
.size-medium .time_1720 { top: 1160.0px; }
.size-medium .time_1730 { top: 1180.0px; }
.size-medium .time_1740 { top: 1200.0px; }
.size-medium .time_1750 { top: 1220.0px; }
.size-medium .time_1800 { top: 1240.0px; }
.size-medium .time_1810 { top: 1260.0px; }
.size-medium .time_1820 { top: 1280.0px; }
.size-medium .time_1830 { top: 1300.0px; }
.size-medium .time_1840 { top: 1320.0px; }
.size-medium .time_1850 { top: 1340.0px; }
.size-medium .time_1900 { top: 1360.0px; }
.size-medium .time_1910 { top: 1380.0px; }
.size-medium .time_1920 { top: 1400.0px; }
.size-medium .time_1930 { top: 1420.0px; }
.size-medium .time_1940 { top: 1440.0px; }
.size-medium .time_1950 { top: 1460.0px; }
.size-medium .time_2000 { top: 1480.0px; }
.size-medium .time_2010 { top: 1500.0px; }
.size-medium .time_2020 { top: 1520.0px; }
.size-medium .time_2030 { top: 1540.0px; }
.size-medium .time_2040 { top: 1560.0px; }
.size-medium .time_2050 { top: 1580.0px; }
.size-medium .time_2100 { top: 1600.0px; }
.size-medium .time_2110 { top: 1620.0px; }
.size-medium .time_2120 { top: 1640.0px; }
.size-medium .time_2130 { top: 1660.0px; }
.size-medium .time_2140 { top: 1680.0px; }
.size-medium .time_2150 { top: 1700.0px; }
.size-medium .time_2200 { top: 1720.0px; }
.size-medium .time_2210 { top: 1740.0px; }
.size-medium .time_2220 { top: 1760.0px; }
.size-medium .time_2230 { top: 1780.0px; }
.size-medium .time_2240 { top: 1800.0px; }
.size-medium .time_2250 { top: 1820.0px; }
.size-medium .time_2300 { top: 1840.0px; }
.size-medium .time_2310 { top: 1860.0px; }
.size-medium .time_2320 { top: 1880.0px; }
.size-medium .time_2330 { top: 1900.0px; }
.size-medium .time_2340 { top: 1920.0px; }
.size-medium .time_2350 { top: 1940.0px; }
.size-medium .time_0000 { top: 1960.0px; }
.size-medium .time_0010 { top: 1980.0px; }
.size-medium .time_0020 { top: 2000.0px; }
.size-medium .time_0030 { top: 2020.0px; }
.size-medium .time_0040 { top: 2040.0px; }
.size-medium .time_0050 { top: 2060.0px; }
.size-medium .time_0100 { top: 2080.0px; }
.size-medium .time_0110 { top: 2100.0px; }
.size-medium .time_0120 { top: 2120.0px; }
.size-medium .time_0130 { top: 2140.0px; }
.size-medium .time_0140 { top: 2160.0px; }
.size-medium .time_0150 { top: 2180.0px; }
.size-small .time_1100 { top: 400px; }
.size-small .time_1110 { top: 413.3333333333333px; }
.size-small .time_1120 { top: 426.66666666666663px; }
.size-small .time_1130 { top: 439.99999999999994px; }
.size-small .time_1140 { top: 453.33333333333326px; }
.size-small .time_1150 { top: 466.6666666666666px; }
.size-small .time_1200 { top: 479.9999999999999px; }
.size-small .time_1210 { top: 493.3333333333332px; }
.size-small .time_1220 { top: 506.6666666666665px; }
.size-small .time_1230 { top: 519.9999999999999px; }
.size-small .time_1240 { top: 533.3333333333333px; }
.size-small .time_1250 { top: 546.6666666666666px; }
.size-small .time_1300 { top: 560.0px; }
.size-small .time_1310 { top: 573.3333333333334px; }
.size-small .time_1320 { top: 586.6666666666667px; }
.size-small .time_1330 { top: 600.0000000000001px; }
.size-small .time_1340 { top: 613.3333333333335px; }
.size-small .time_1350 { top: 626.6666666666669px; }
.size-small .time_1400 { top: 640.0000000000002px; }
.size-small .time_1410 { top: 653.3333333333336px; }
.size-small .time_1420 { top: 666.666666666667px; }
.size-small .time_1430 { top: 680.0000000000003px; }
.size-small .time_1440 { top: 693.3333333333337px; }
.size-small .time_1450 { top: 706.6666666666671px; }
.size-small .time_1500 { top: 720.0000000000005px; }
.size-small .time_1510 { top: 733.3333333333338px; }
.size-small .time_1520 { top: 746.6666666666672px; }
.size-small .time_1530 { top: 760.0000000000006px; }
.size-small .time_1540 { top: 773.3333333333339px; }
.size-small .time_1550 { top: 786.6666666666673px; }
.size-small .time_1600 { top: 800.0000000000007px; }
.size-small .time_1610 { top: 813.333333333334px; }
.size-small .time_1620 { top: 826.6666666666674px; }
.size-small .time_1630 { top: 840.0000000000008px; }
.size-small .time_1640 { top: 853.3333333333342px; }
.size-small .time_1650 { top: 866.6666666666675px; }
.size-small .time_1700 { top: 880.0000000000009px; }
.size-small .time_1710 { top: 893.3333333333343px; }
.size-small .time_1720 { top: 906.6666666666677px; }
.size-small .time_1730 { top: 920.000000000001px; }
.size-small .time_1740 { top: 933.3333333333344px; }
.size-small .time_1750 { top: 946.6666666666678px; }
.size-small .time_1800 { top: 960.0000000000011px; }
.size-small .time_1810 { top: 973.3333333333345px; }
.size-small .time_1820 { top: 986.6666666666679px; }
.size-small .time_1830 { top: 1000.0000000000013px; }
.size-small .time_1840 { top: 1013.3333333333346px; }
.size-small .time_1850 { top: 1026.6666666666679px; }
.size-small .time_1900 { top: 1040.0000000000011px; }
.size-small .time_1910 { top: 1053.3333333333344px; }
.size-small .time_1920 { top: 1066.6666666666677px; }
.size-small .time_1930 { top: 1080.000000000001px; }
.size-small .time_1940 { top: 1093.3333333333342px; }
.size-small .time_1950 { top: 1106.6666666666674px; }
.size-small .time_2000 { top: 1120.0000000000007px; }
.size-small .time_2010 { top: 1133.333333333334px; }
.size-small .time_2020 { top: 1146.6666666666672px; }
.size-small .time_2030 { top: 1160.0000000000005px; }
.size-small .time_2040 { top: 1173.3333333333337px; }
.size-small .time_2050 { top: 1186.666666666667px; }
.size-small .time_2100 { top: 1200.0000000000002px; }
.size-small .time_2110 { top: 1213.3333333333335px; }
.size-small .time_2120 { top: 1226.6666666666667px; }
.size-small .time_2130 { top: 1240.0px; }
.size-small .time_2140 { top: 1253.3333333333333px; }
.size-small .time_2150 { top: 1266.6666666666665px; }
.size-small .time_2200 { top: 1279.9999999999998px; }
.size-small .time_2210 { top: 1293.333333333333px; }
.size-small .time_2220 { top: 1306.6666666666663px; }
.size-small .time_2230 { top: 1319.9999999999995px; }
.size-small .time_2240 { top: 1333.3333333333328px; }
.size-small .time_2250 { top: 1346.666666666666px; }
.size-small .time_2300 { top: 1359.9999999999993px; }
.size-small .time_2310 { top: 1373.3333333333326px; }
.size-small .time_2320 { top: 1386.6666666666658px; }
.size-small .time_2330 { top: 1399.999999999999px; }
.size-small .time_2340 { top: 1413.3333333333323px; }
.size-small .time_2350 { top: 1426.6666666666656px; }
.size-small .time_0000 { top: 1439.9999999999989px; }
.size-small .time_0010 { top: 1453.3333333333321px; }
.size-small .time_0020 { top: 1466.6666666666654px; }
.size-small .time_0030 { top: 1479.9999999999986px; }
.size-small .time_0040 { top: 1493.333333333332px; }
.size-small .time_0050 { top: 1506.6666666666652px; }
.size-small .time_0100 { top: 1519.9999999999984px; }
.size-small .time_0110 { top: 1533.3333333333317px; }
.size-small .time_0120 { top: 1546.666666666665px; }
.size-small .time_0130 { top: 1559.9999999999982px; }
.size-small .time_0140 { top: 1573.3333333333314px; }
.size-small .time_0150 { top: 1586.6666666666647px; }
.size-large .duration_300 { min-height: 11.666666666666668px; max-height:  11.666666666666668px; }
.size-large .duration_600 { min-height: 28.333333333333336px; max-height:  28.333333333333336px; }
.size-large .duration_900 { min-height: 45.0px; max-height:  45.0px; }
.size-large .duration_1200 { min-height: 61.66666666666667px; max-height:  61.66666666666667px; }
.size-large .duration_1500 { min-height: 78.33333333333333px; max-height:  78.33333333333333px; }
.size-large .duration_1800 { min-height: 95.0px; max-height:  95.0px; }
.size-large .duration_2100 { min-height: 111.66666666666667px; max-height:  111.66666666666667px; }
.size-large .duration_2400 { min-height: 128.33333333333334px; max-height:  128.33333333333334px; }
.size-large .duration_2700 { min-height: 145.0px; max-height:  145.0px; }
.size-large .duration_3000 { min-height: 161.66666666666666px; max-height:  161.66666666666666px; }
.size-large .duration_3300 { min-height: 178.33333333333334px; max-height:  178.33333333333334px; }
.size-large .duration_3600 { min-height: 195.0px; max-height:  195.0px; }
.size-large .duration_3900 { min-height: 211.66666666666666px; max-height:  211.66666666666666px; }
.size-large .duration_4200 { min-height: 228.33333333333334px; max-height:  228.33333333333334px; }
.size-large .duration_4500 { min-height: 245.0px; max-height:  245.0px; }
.size-large .duration_4800 { min-height: 261.6666666666667px; max-height:  261.6666666666667px; }
.size-large .duration_5100 { min-height: 278.3333333333333px; max-height:  278.3333333333333px; }
.size-large .duration_5400 { min-height: 295.0px; max-height:  295.0px; }
.size-large .duration_5700 { min-height: 311.6666666666667px; max-height:  311.6666666666667px; }
.size-large .duration_6000 { min-height: 328.3333333333333px; max-height:  328.3333333333333px; }
.size-large .duration_6300 { min-height: 345.0px; max-height:  345.0px; }
.size-large .duration_6600 { min-height: 361.6666666666667px; max-height:  361.6666666666667px; }
.size-large .duration_6900 { min-height: 378.3333333333333px; max-height:  378.3333333333333px; }
.size-large .duration_7200 { min-height: 395.0px; max-height:  395.0px; }
.size-large .duration_7500 { min-height: 411.6666666666667px; max-height:  411.6666666666667px; }
.size-large .duration_7800 { min-height: 428.3333333333333px; max-height:  428.3333333333333px; }
.size-large .duration_8100 { min-height: 445.0px; max-height:  445.0px; }
.size-large .duration_8400 { min-height: 461.6666666666667px; max-height:  461.6666666666667px; }
.size-large .duration_8700 { min-height: 478.3333333333333px; max-height:  478.3333333333333px; }
.size-large .wholeblock     { height: 733.3333333333334px; }
.size-medium .duration_300 { min-height: 7.0px; max-height:  7.0px; }
.size-medium .duration_600 { min-height: 17.0px; max-height:  17.0px; }
.size-medium .duration_900 { min-height: 27.0px; max-height:  27.0px; }
.size-medium .duration_1200 { min-height: 37.0px; max-height:  37.0px; }
.size-medium .duration_1500 { min-height: 47.0px; max-height:  47.0px; }
.size-medium .duration_1800 { min-height: 57.0px; max-height:  57.0px; }
.size-medium .duration_2100 { min-height: 67.0px; max-height:  67.0px; }
.size-medium .duration_2400 { min-height: 77.0px; max-height:  77.0px; }
.size-medium .duration_2700 { min-height: 87.0px; max-height:  87.0px; }
.size-medium .duration_3000 { min-height: 97.0px; max-height:  97.0px; }
.size-medium .duration_3300 { min-height: 107.0px; max-height:  107.0px; }
.size-medium .duration_3600 { min-height: 117.0px; max-height:  117.0px; }
.size-medium .duration_3900 { min-height: 127.0px; max-height:  127.0px; }
.size-medium .duration_4200 { min-height: 137.0px; max-height:  137.0px; }
.size-medium .duration_4500 { min-height: 147.0px; max-height:  147.0px; }
.size-medium .duration_4800 { min-height: 157.0px; max-height:  157.0px; }
.size-medium .duration_5100 { min-height: 167.0px; max-height:  167.0px; }
.size-medium .duration_5400 { min-height: 177.0px; max-height:  177.0px; }
.size-medium .duration_5700 { min-height: 187.0px; max-height:  187.0px; }
.size-medium .duration_6000 { min-height: 197.0px; max-height:  197.0px; }
.size-medium .duration_6300 { min-height: 207.0px; max-height:  207.0px; }
.size-medium .duration_6600 { min-height: 217.0px; max-height:  217.0px; }
.size-medium .duration_6900 { min-height: 227.0px; max-height:  227.0px; }
.size-medium .duration_7200 { min-height: 237.0px; max-height:  237.0px; }
.size-medium .duration_7500 { min-height: 247.0px; max-height:  247.0px; }
.size-medium .duration_7800 { min-height: 257.0px; max-height:  257.0px; }
.size-medium .duration_8100 { min-height: 267.0px; max-height:  267.0px; }
.size-medium .duration_8400 { min-height: 277.0px; max-height:  277.0px; }
.size-medium .duration_8700 { min-height: 287.0px; max-height:  287.0px; }
.size-medium .wholeblock     { height: 440.0px; }
.size-small .duration_300 { min-height: 4.666666666666667px; max-height:  4.666666666666667px; }
.size-small .duration_600 { min-height: 11.333333333333334px; max-height:  11.333333333333334px; }
.size-small .duration_900 { min-height: 18.0px; max-height:  18.0px; }
.size-small .duration_1200 { min-height: 24.666666666666668px; max-height:  24.666666666666668px; }
.size-small .duration_1500 { min-height: 31.333333333333336px; max-height:  31.333333333333336px; }
.size-small .duration_1800 { min-height: 38.0px; max-height:  38.0px; }
.size-small .duration_2100 { min-height: 44.666666666666664px; max-height:  44.666666666666664px; }
.size-small .duration_2400 { min-height: 51.333333333333336px; max-height:  51.333333333333336px; }
.size-small .duration_2700 { min-height: 58.0px; max-height:  58.0px; }
.size-small .duration_3000 { min-height: 64.66666666666667px; max-height:  64.66666666666667px; }
.size-small .duration_3300 { min-height: 71.33333333333333px; max-height:  71.33333333333333px; }
.size-small .duration_3600 { min-height: 78.0px; max-height:  78.0px; }
.size-small .duration_3900 { min-height: 84.66666666666667px; max-height:  84.66666666666667px; }
.size-small .duration_4200 { min-height: 91.33333333333333px; max-height:  91.33333333333333px; }
.size-small .duration_4500 { min-height: 98.0px; max-height:  98.0px; }
.size-small .duration_4800 { min-height: 104.66666666666667px; max-height:  104.66666666666667px; }
.size-small .duration_5100 { min-height: 111.33333333333333px; max-height:  111.33333333333333px; }
.size-small .duration_5400 { min-height: 118.0px; max-height:  118.0px; }
.size-small .duration_5700 { min-height: 124.66666666666667px; max-height:  124.66666666666667px; }
.size-small .duration_6000 { min-height: 131.33333333333334px; max-height:  131.33333333333334px; }
.size-small .duration_6300 { min-height: 138.0px; max-height:  138.0px; }
.size-small .duration_6600 { min-height: 144.66666666666666px; max-height:  144.66666666666666px; }
.size-small .duration_6900 { min-height: 151.33333333333334px; max-height:  151.33333333333334px; }
.size-small .duration_7200 { min-height: 158.0px; max-height:  158.0px; }
.size-small .duration_7500 { min-height: 164.66666666666666px; max-height:  164.66666666666666px; }
.size-small .duration_7800 { min-height: 171.33333333333334px; max-height:  171.33333333333334px; }
.size-small .duration_8100 { min-height: 178.0px; max-height:  178.0px; }
.size-small .duration_8400 { min-height: 184.66666666666666px; max-height:  184.66666666666666px; }
.size-small .duration_8700 { min-height: 191.33333333333334px; max-height:  191.33333333333334px; }
.size-small .wholeblock     { height: 293.3333333333333px; }
.size-large .grid           { height: 33.333333333333336px; font-size: 1em; }
.size-medium .grid          { height: 20.0px; font-size: 0.5em; }
.size-small .grid           { height: 13.333333333333334px; font-size: 0.3em; }
.in-calendar .room1 { left:  4.0%; }
.in-calendar .room2 { left:  23.2%; }
.in-calendar .room3 { left:  42.4%; }
.in-calendar .room4 { left:  61.599999999999994%; }
.in-calendar .room5 { left:  80.8%; }
.in-calendar .event, .in-calendar .room-label, .in-calendar .grid { position: absolute; width: 15.2%; }
.in-calendar .r, .in-calendar .l { width: 15.2%; }
.in-calendar .rr, .in-calendar .ll { width: 34.4%; }
.in-calendar .rrr, .in-calendar .lll { width: 53.599999999999994%; }
.in-calendar .rrrr, .in-calendar .llll { width: 72.8%; }
.in-calendar .r, .in-calendar .rr, .in-calendar .rrr, .in-calendar .rrrr { margin-left: 7.6% ; }
.in-calendar .l { margin-left: -7.6% ; }
.in-calendar .ll { margin-left: -26.799999999999997% ; }
.in-calendar .lll { margin-left: -46.0% ; }
.in-calendar .llll { margin-left: -65.19999999999999% ; }
.in-calendar.alldays .day_1.room1 { left:  0.5%; }
.in-calendar.alldays .day_1.room2 { left:  5.475%; }
.in-calendar.alldays .day_1.room3 { left:  10.45%; }
.in-calendar.alldays .day_1.room4 { left:  15.424999999999999%; }
.in-calendar.alldays .day_1.room5 { left:  20.4%; }
.in-calendar.alldays .day_2.room1 { left:  25.375%; }
.in-calendar.alldays .day_2.room2 { left:  30.349999999999998%; }
.in-calendar.alldays .day_2.room3 { left:  35.324999999999996%; }
.in-calendar.alldays .day_2.room4 { left:  40.3%; }
.in-calendar.alldays .day_2.room5 { left:  45.275%; }
.in-calendar.alldays .day_3.room1 { left:  50.25%; }
.in-calendar.alldays .day_3.room2 { left:  55.224999999999994%; }
.in-calendar.alldays .day_3.room3 { left:  60.199999999999996%; }
.in-calendar.alldays .day_3.room4 { left:  65.175%; }
.in-calendar.alldays .day_3.room5 { left:  70.14999999999999%; }
.in-calendar.alldays .day_4.room1 { left:  75.125%; }
.in-calendar.alldays .day_4.room2 { left:  80.1%; }
.in-calendar.alldays .day_4.room3 { left:  85.07499999999999%; }
.in-calendar.alldays .day_4.room4 { left:  90.05%; }
.in-calendar.alldays .day_4.room5 { left:  95.02499999999999%; }
.wholeday, .wholeblock { width: 25.0% }
.in-calendar.alldays .event, .in-calendar.alldays .room-label, .in-calendar.alldays .grid { width: 4.475%; }
.in-calendar.alldays .r, .in-calendar.alldays .l { width: 4.475%; }
.in-calendar.alldays .rr, .in-calendar.alldays .ll { width: 9.45%; }
.in-calendar.alldays .rrr, .in-calendar.alldays .lll { width: 14.424999999999999%; }
.in-calendar.alldays .rrrr, .in-calendar.alldays .llll { width: 19.4%; }
.in-calendar.alldays .r, .in-calendar.alldays .rr, .in-calendar.alldays .rrr, .in-calendar.alldays .rrrr { margin-left: 2.2375% ; }
.in-calendar.alldays .l { margin-left: -2.2375% ; }
.in-calendar.alldays .ll { margin-left: -7.2124999999999995% ; }
.in-calendar.alldays .lll { margin-left: -12.1875% ; }
.in-calendar.alldays .llll { margin-left: -17.162499999999998% ; }
.r, .rr, .rrr, .rrrr, .l, .ll, .lll, .llll { height: 20px; }
.size-large .wholeday       { height: 3000px; }
.size-large .duration_inf   { height: 1400px; }
.size-medium .wholeday       { height: 1800px; }
.size-medium .duration_inf   { height: 840px; }
.size-small .wholeday       { height: 1200px; }
.size-small .duration_inf   { height: 560px; }
