.in-calendar.w1-workshops .room1      { left:  3.333333333333%;  }
.in-calendar.w1-workshops .room2      { left: 22.666666666667%;  }
.in-calendar.w1-workshops .roomg      { left: 42.000000000000%;  }
.in-calendar.w1-workshops .room6      { left: 61.333333333333%;  }
.in-calendar.w1-workshops .column-5   { left: 80.666666666667%;  }
.in-calendar.w2-workshops .room1      { left:  2.857142857143%;  }
.in-calendar.w2-workshops .room2      { left: 19.047619047619%;  }
.in-calendar.w2-workshops .roomg      { left: 35.238095238095%;  }
.in-calendar.w2-workshops .room6      { left: 51.428571428571%;  }
.in-calendar.w2-workshops .column-5   { left: 67.619047619048%;  }
.in-calendar.w2-workshops .column-6   { left: 83.809523809524%;  }
.in-calendar.w3-workshops .room1      { left:  2.500000000000%;  }
.in-calendar.w3-workshops .room2      { left: 16.428571428571%;  }
.in-calendar.w3-workshops .roomg      { left: 30.357142857143%;  }
.in-calendar.w3-workshops .room6      { left: 44.285714285714%;  }
.in-calendar.w3-workshops .column-5   { left: 58.214285714286%;  }
.in-calendar.w3-workshops .column-6   { left: 72.142857142857%;  }
.in-calendar.w3-workshops .column-7   { left: 86.071428571429%;  }
.in-calendar.w4-workshops .room1      { left:  2.222222222222%;  }
.in-calendar.w4-workshops .room2      { left: 14.444444444444%;  }
.in-calendar.w4-workshops .roomg      { left: 26.666666666667%;  }
.in-calendar.w4-workshops .room6      { left: 38.888888888889%;  }
.in-calendar.w4-workshops .column-5   { left: 51.111111111111%;  }
.in-calendar.w4-workshops .column-6   { left: 63.333333333333%;  }
.in-calendar.w4-workshops .column-7   { left: 75.555555555556%;  }
.in-calendar.w4-workshops .column-8   { left: 87.777777777778%;  }
.in-calendar.w5-workshops .room1      { left:  2.000000000000%;  }
.in-calendar.w5-workshops .room2      { left: 12.888888888889%;  }
.in-calendar.w5-workshops .roomg      { left: 23.777777777778%;  }
.in-calendar.w5-workshops .room6      { left: 34.666666666667%;  }
.in-calendar.w5-workshops .column-5   { left: 45.555555555556%;  }
.in-calendar.w5-workshops .column-6   { left: 56.444444444444%;  }
.in-calendar.w5-workshops .column-7   { left: 67.333333333333%;  }
.in-calendar.w5-workshops .column-8   { left: 78.222222222222%;  }
.in-calendar.w5-workshops .column-9   { left: 89.111111111111%;  }
.in-calendar.w6-workshops .room1      { left:  1.818181818182%;  }
.in-calendar.w6-workshops .room2      { left: 11.636363636364%;  }
.in-calendar.w6-workshops .roomg      { left: 21.454545454545%;  }
.in-calendar.w6-workshops .room6      { left: 31.272727272727%;  }
.in-calendar.w6-workshops .column-5   { left: 41.090909090909%;  }
.in-calendar.w6-workshops .column-6   { left: 50.909090909091%;  }
.in-calendar.w6-workshops .column-7   { left: 60.727272727273%;  }
.in-calendar.w6-workshops .column-8   { left: 70.545454545455%;  }
.in-calendar.w6-workshops .column-9   { left: 80.363636363636%;  }
.in-calendar.w6-workshops .column-10  { left: 90.181818181818%;  }
.in-calendar.w7-workshops .room1      { left:  1.666666666667%;  }
.in-calendar.w7-workshops .room2      { left: 10.606060606061%;  }
.in-calendar.w7-workshops .roomg      { left: 19.545454545455%;  }
.in-calendar.w7-workshops .room6      { left: 28.484848484848%;  }
.in-calendar.w7-workshops .column-5   { left: 37.424242424242%;  }
.in-calendar.w7-workshops .column-6   { left: 46.363636363636%;  }
.in-calendar.w7-workshops .column-7   { left: 55.303030303030%;  }
.in-calendar.w7-workshops .column-8   { left: 64.242424242424%;  }
.in-calendar.w7-workshops .column-9   { left: 73.181818181818%;  }
.in-calendar.w7-workshops .column-10  { left: 82.121212121212%;  }
.in-calendar.w7-workshops .column-11  { left: 91.060606060606%;  }
.in-calendar.w8-workshops .room1      { left:  1.538461538462%;  }
.in-calendar.w8-workshops .room2      { left:  9.743589743590%;  }
.in-calendar.w8-workshops .roomg      { left: 17.948717948718%;  }
.in-calendar.w8-workshops .room6      { left: 26.153846153846%;  }
.in-calendar.w8-workshops .column-5   { left: 34.358974358974%;  }
.in-calendar.w8-workshops .column-6   { left: 42.564102564103%;  }
.in-calendar.w8-workshops .column-7   { left: 50.769230769231%;  }
.in-calendar.w8-workshops .column-8   { left: 58.974358974359%;  }
.in-calendar.w8-workshops .column-9   { left: 67.179487179487%;  }
.in-calendar.w8-workshops .column-10  { left: 75.384615384615%;  }
.in-calendar.w8-workshops .column-11  { left: 83.589743589744%;  }
.in-calendar.w8-workshops .column-12  { left: 91.794871794872%;  }
.in-calendar.w9-workshops .room1      { left:  1.428571428571%;  }
.in-calendar.w9-workshops .room2      { left:  9.010989010989%;  }
.in-calendar.w9-workshops .roomg      { left: 16.593406593407%;  }
.in-calendar.w9-workshops .room6      { left: 24.175824175824%;  }
.in-calendar.w9-workshops .column-5   { left: 31.758241758242%;  }
.in-calendar.w9-workshops .column-6   { left: 39.340659340659%;  }
.in-calendar.w9-workshops .column-7   { left: 46.923076923077%;  }
.in-calendar.w9-workshops .column-8   { left: 54.505494505495%;  }
.in-calendar.w9-workshops .column-9   { left: 62.087912087912%;  }
.in-calendar.w9-workshops .column-10  { left: 69.670329670330%;  }
.in-calendar.w9-workshops .column-11  { left: 77.252747252747%;  }
.in-calendar.w9-workshops .column-12  { left: 84.835164835165%;  }
.in-calendar.w9-workshops .column-13  { left: 92.417582417582%;  }
.in-calendar.w10-workshops .room1      { left:  1.333333333333%;  }
.in-calendar.w10-workshops .room2      { left:  8.380952380952%;  }
.in-calendar.w10-workshops .roomg      { left: 15.428571428571%;  }
.in-calendar.w10-workshops .room6      { left: 22.476190476190%;  }
.in-calendar.w10-workshops .column-5   { left: 29.523809523810%;  }
.in-calendar.w10-workshops .column-6   { left: 36.571428571429%;  }
.in-calendar.w10-workshops .column-7   { left: 43.619047619048%;  }
.in-calendar.w10-workshops .column-8   { left: 50.666666666667%;  }
.in-calendar.w10-workshops .column-9   { left: 57.714285714286%;  }
.in-calendar.w10-workshops .column-10  { left: 64.761904761905%;  }
.in-calendar.w10-workshops .column-11  { left: 71.809523809524%;  }
.in-calendar.w10-workshops .column-12  { left: 78.857142857143%;  }
.in-calendar.w10-workshops .column-13  { left: 85.904761904762%;  }
.in-calendar.w10-workshops .column-14  { left: 92.952380952381%;  }
.in-calendar.w11-workshops .room1      { left:  1.250000000000%;  }
.in-calendar.w11-workshops .room2      { left:  7.833333333333%;  }
.in-calendar.w11-workshops .roomg      { left: 14.416666666667%;  }
.in-calendar.w11-workshops .room6      { left: 21.000000000000%;  }
.in-calendar.w11-workshops .column-5   { left: 27.583333333333%;  }
.in-calendar.w11-workshops .column-6   { left: 34.166666666667%;  }
.in-calendar.w11-workshops .column-7   { left: 40.750000000000%;  }
.in-calendar.w11-workshops .column-8   { left: 47.333333333333%;  }
.in-calendar.w11-workshops .column-9   { left: 53.916666666667%;  }
.in-calendar.w11-workshops .column-10  { left: 60.500000000000%;  }
.in-calendar.w11-workshops .column-11  { left: 67.083333333333%;  }
.in-calendar.w11-workshops .column-12  { left: 73.666666666667%;  }
.in-calendar.w11-workshops .column-13  { left: 80.250000000000%;  }
.in-calendar.w11-workshops .column-14  { left: 86.833333333333%;  }
.in-calendar.w11-workshops .column-15  { left: 93.416666666667%;  }

.in-calendar.w1-workshops  .event      { width:  18.56%; }
.in-calendar.w1-workshops  .room-label { width:  18.56%; }
.in-calendar.w2-workshops  .event      { width:  15.47%; }
.in-calendar.w2-workshops  .room-label { width:  15.47%; }
.in-calendar.w3-workshops  .event      { width:  13.26%; }
.in-calendar.w3-workshops  .room-label { width:  13.26%; }
.in-calendar.w4-workshops  .event      { width:  11.60%; }
.in-calendar.w4-workshops  .room-label { width:  11.60%; }
.in-calendar.w5-workshops  .event      { width:  10.31%; }
.in-calendar.w5-workshops  .room-label { width:  10.31%; }
.in-calendar.w6-workshops  .event      { width:  9.28%; }
.in-calendar.w6-workshops  .room-label { width:  9.28%; }
.in-calendar.w7-workshops  .event      { width:  8.44%; }
.in-calendar.w7-workshops  .room-label { width:  8.44%; }
.in-calendar.w8-workshops  .event      { width:  7.73%; }
.in-calendar.w8-workshops  .room-label { width:  7.73%; }
.in-calendar.w9-workshops  .event      { width:  7.14%; }
.in-calendar.w9-workshops  .room-label { width:  7.14%; }
.in-calendar.w10-workshops .event      { width:  6.63%; }
.in-calendar.w10-workshops .room-label { width:  6.63%; }
.in-calendar.w11-workshops .event      { width:  6.19%; }
.in-calendar.w11-workshops .room-label { width:  6.19%; }


.in-calendar.any-workshops.onlyday1 .workshop.room-label,
.in-calendar.any-workshops.onlyday2 .workshop.room-label,
.in-calendar.any-workshops.onlyday3 .workshop.room-label,
.in-calendar.any-workshops.onlyday4 .workshop.room-label,
.in-calendar.any-workshops.onlyday1 .event.workshop.day_1,
.in-calendar.any-workshops.onlyday2 .event.workshop.day_2,
.in-calendar.any-workshops.onlyday3 .event.workshop.day_3,
.in-calendar.any-workshops.onlyday4 .event.workshop.day_4 {
    display: block !important; visibility: visible !important;
}
